################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/iTEMS/obj/Debug/net8.0/iTEMS.AssemblyInfo.cs
/iTEMS/obj/Debug/net8.0/iTEMS.assets.cache
/iTEMS/obj/Debug/net8.0/iTEMS.AssemblyInfoInputs.cache
/iTEMS/obj/Debug/net8.0/iTEMS.GeneratedMSBuildEditorConfig.editorconfig
