@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | General Form Elements</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
            background-image: url("https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?w=900&t=st=1716364709~exp=1716365309~hmac=9b9c37f04fbfca310261f1a4ae804b72e37b28eff3ade34ce62283af165f4f08");
            background-size: cover;
        }    

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        /* .logo-company {
            width:250px;
            height:50px;
        } */

        .card {
            max-width: 600px; /* Increase the max-width */
            width: 90%;
            padding: 10px;
            border-radius: 15px;
            background-color: white;
            box-shadow: 0 4px 20px #dedede;
        }

        .card-header {
            border-radius: 10px;
        }

        .card-title {
            float: none;
            text-align: center; /* Center the Log In header */
            font-size: 24px; /* Increase text size */
            font-weight: bold; /* Make it bold */
            margin: 0;
            /*margin-bottom: 30px;  Add some bottom margin for spacing */
        }

        .card-footer {
            text-align: center; /* Center the footer */
        }

            .card-footer a {
                color: #3897f0;
                text-decoration: none;
            }

                .card-footer a:hover {
                    text-decoration: underline;
                }

        .form-group {
            margin-bottom: 20px;
        }

        .form-check-label {
            margin-left: 20px; /* Reset the margin for form-check-label */
        }

        .btn-primary {
            width: 83%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #0096FF;
            color: #fff;
            cursor: pointer;
        }

        .toggle-password {
            color: #0096FF;
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
</head>

<div class="container">   
    <div class="card card-dark">      
        <div class="card-header">
            <h3 class="card-title">Log In</h3>
        </div>

        @*TODO*@
        @* <center>
            <img id="logo-company" src="/Assets/Company Logo.png" alt="Logo" width="250" height="50">
        </center>  *@      

        <form class="form-horizontal" id="account" method="post">

            <div class="card-body">
                <div class="form-group row">
                    <label asp-for="Input.UserName" class="offset-sm-1 col-sm-2 col-form-label">Username</label>
                    <div class="offset-sm-1 col-sm-10 offset-sm-1">
                        <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" type="text" value="" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Input.Password" class="offset-sm-1 col-sm-2 col-form-label">Password</label>
                    <div class="offset-sm-1 col-sm-10 offset-sm-1 position-relative">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" id="password" type="password" />
                        <span id="togglePasswordText" class="toggle-password" onclick="togglePasswordVisibility()">Show</span>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>                   
                </div>

                <div class="form-group row">
                    <div class="offset-sm-1 col-sm-11">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" type="checkbox" value="true" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <button id="login-submit" type="submit" class="offset-sm-1 btn btn-lg btn-primary">Log in</button>
            </div>
            <div class="card-footer">
                <div>
                    <p>
                        <a id="forgot-password">Forgot your password? click </a><a asp-page="./ForgotPassword">HERE</a>
                    </p>
                    <p>
                        <a id="">Don’t have an account? </a><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">SIGN UP</a>
                    </p>
                    <p>
                        <a id="">Go to </a><a asp-page="./Lockout">HOME</a> 
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- jQuery -->
<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="~/AdminLTE/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        bsCustomFileInput.init();
    });

    function togglePasswordVisibility() {
            var passwordField = document.getElementById("password");
            var toggleText = document.getElementById("togglePasswordText");
            var passwordFieldType = passwordField.getAttribute("type");
            if (passwordFieldType === "password") {
                passwordField.setAttribute("type", "text");
                toggleText.textContent = "Hide";
            } else {
                passwordField.setAttribute("type", "password");
                toggleText.textContent = "Show";
            }
        }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
